.hero img{
    width: 100%;
    position: relative;

}
.flaot img{
    width: 20%;
    height: 20%;
    object-fit: cover;
    border-radius: 20%;
    float:right;
}
.flaot {
    width: 80%;
    position: absolute;
    top: 300px;
    right: 15px;
    background-color: rgb(206, 206, 206);
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 5px 5px 5px rgba(133, 185, 155, 0.3);
    font-size: large;
}
.flaot p{
    line-height: 2;
    color: blue;
}
h1{
    position: absolute;
    top: 200px;
    right: 500px;
    background-color: white;
    color: brown;




}
